* {
	font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
	margin: 15px 0;
}

a {
	text-decoration: none;
	color: #0000FF;
}

a#help_link {
	float: right;
}

p, label, li {
	font-size: 15px;
	text-align: justify;
}

body {
	background: #666;
}

img {
	border: 1px solid black;
	max-width: 650px;
}

img, figure {
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul {
	margin: 20px 0;
}

li {
	margin: 10px 0;
}

code {
	background-color: #ddd;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

#content {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	background: white;
	padding: 20px 30px;
}

h1 {
	text-align: center;
}

div.options_section, div.help_section {
	border-bottom: 1px solid #666;
	padding: 30px 0;
}

div.options_section:first-of-type {
	padding-top: 20px;
}

div.options_section:last-of-type, div.help_section:last-of-type {
	border: none;
}

.opt_table {
	display: block;
    list-style: none;
    padding-left: 0;
    width: 95%;
    overflow: visible;
}

.opt_table .scroll_area {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: visible;
	width: 100%;
}

.opt_table li {
	display: block;
	vertical-align: middle;
	padding: 5px;
}

.opt_table div {
	display: inline-block;
}

.opt_table .header_row > div {
	display: inline-block;
	text-align: center;
}

#profiles {
	width: 100%;
}

#profiles li {
	width: 98%;
}

#profiles li > div {
	width: 90px;
	margin: 0 5px;
	font-size: 12px;
}

#profiles li.header_row > div {
	font-size: 15px;
}

#profiles li > div.delete_col, li > #templates div.delete_col {
	width: 20px;
}

#profiles li > div.mode_col {
	width: 200px;
}

.opt_table input:not([type=radio]), .opt_table select,
.opt_table div.mode_buttons {
/*	margin-left: auto;
	margin-right: auto;
	display: inline-block;
*/}

.opt_table input:not([type=radio]), .opt_table select {
	width: 95%;
}

.opt_table input.add_row {
	width: auto;
}

.opt_table input.delete_row {
	width: 20px;
}

#profiles input.add_row {
	margin: 0 0 0 2px;
}

#templates input.add_row {
	margin: 0 0 0 6px;
}

.profile_row, .template_row {

}

.profile_row:nth-child(odd), .template_row:nth-child(odd) {
	
}

.profile_row:nth-child(even), .template_row:nth-child(even) {

}

div#comment_threshold {
	margin: 10px 0;
	width: 300px;
}

input#comment_threshold_value {
	border:0;
	font-weight:bold;
	font-size: 12px;
}

div.word_list_area {
	margin: 15px 20px;
}

div.word_list_area textarea, textarea.export_area {
	max-height: 110px;
	height: 110px;
	width: 580px;
}

div.word_list_area textarea:not(#custom_list) {
	display: none;
}

div.word_list_area h3 {
	display: inline;
}

textarea.export_area {
	display: none;
}

input.import_go_button {
	display: none;
}

/* jQuery UI overrides */

.ui-slider-range {
	background: #023557;
}

span.ui-selectmenu-text, span.ui-button-text {
	padding-top: 0;
	padding-bottom: 0;
}

.ui-selectmenu-button {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
